@import './lib/normalizeCSS.min.css'
@import './fontface/fontface.css'
@import 'variables'

html
    box-sizing: border-box
    font-family: Ubuntu, sans-serif
    font-size: 12px
    font-weight: 300

*, *:before, *:after
    box-sizing: inherit

.container
    width: 100%
    max-width: 1160px
    display: block
    margin: 0 auto
    background-color: $background-color-main

.wrapper
    &--flex-end
        display: flex
        justify-content: flex-end
    &--mt-centered
        margin-top: 18px

.header
    font-family: Roboto
    padding: 16px 0 36px
    background-color: $header-background-color
    position: relative
    &::before
        content: ''
        display: block
        border-radius: 50%
        position: absolute
        width: 138.82px
        height: 138.82px
        left: 79.91px
        top: -61px
        background: $main-color
        box-shadow: inset 100px 0px 50px #7739FC, inset 0px -30px 20px rgba(156, 91, 222, 0.7), inset 0px 50px 150px #ECD9FF
        filter: blur(20px)

@media screen and (max-width: 1700px)
    .header
        &::before
            display: none

.logo
    font-family: Roboto
    display: flex
    justify-content: flex-start
    align-items: flex-start
    &__img
        height: 89px
        width: 177px
        margin-right: 18px
    &__description
        font-size: 11px
        line-height: 12px
        color: $header-description-color
        max-width: 137px
        margin-top: 42px

.info-bar
    display: flex
    justify-content: space-between
    width: 100%

.office-info
    display: flex
    justify-content: flex-end
    align-items: center
    &__adress
        font-family: Roboto
        font-weight: 300
        font-size: 12px
        line-height: 14px
        color: $header-description-color
        margin-right: 17px
    &__tel
        margin-right: 17px
        font-family: Ubuntu
        font-weight: 500
        font-size: 18px
        line-height: 21px
        letter-spacing: -0.02em
        text-transform: uppercase
        text-decoration: none
        color: $text-color-main
        cursor: pointer

.profile-status-bar
    display: flex
    justify-content: flex-end
    align-items: center
    padding-left: 16px

///// buttons *********************8

.button
    background: transparent
    border: none
    color: $text-color-main
    cursor: pointer
    &--text-underlined--header
        padding: 0
        text-decoration: underline
        font-family: Roboto
        font-style: normal
        font-weight: 300
        font-size: 12px
        line-height: 14px
        color: $header-description-color
    &--text-icons-right--header
        padding: 0
        font-family: Roboto
        font-style: normal
        font-weight: 300
        font-size: 12px
        line-height: 14px
        color: $header-description-color
